h3{
    font-size: 30px;
    text-decoration: overline;
}
.header{
    height: 300px;
    background-color: bisque;
    background-image: url('./WhatsApp\ Image\ 2025-05-09\ at\ 00.34.27_148a1e2a.jpg');
    background-size: contain;
}
.blog{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 20px blueviolet;
}
.dolor{
    border: 2px solid peru;
    height: 60px;
    display: block;
}
.Perferendis{
    /* display: none; */
    /* visibility: hidden; */
    border: 2px solid purple;
    width: 20px;
    display: block;
}
li{
    display: inline;
}